@page
@model ConfigModel
@{
    ViewData["Title"] = "Configuratie";
}

<div id="config-app"></div>

@section Scripts {
    <script type="module" src="~/dist/config-main.js" asp-append-version="true"></script>
}
