@page
@model ManagerModel
@{
    ViewData["Title"] = "MANAGER";
}

<div id="manager-app"></div>

@section Scripts {
    <script type="module" src="~/dist/manager-main.js" asp-append-version="true"></script>
}
