@page
@model PersonalModel
@{
    ViewData["Title"] = "PERSOONLIJKE STATS";
}

<div id="personal-app"></div>

@section Scripts {
    <script type="module" src="~/dist/personal-main.js" asp-append-version="true"></script>
}
