@page
@model SettingsModel
@{
    ViewData["Title"] = "INSTELLINGEN";
}

<div id="settings-app"></div>

@section Scripts {
    <script type="module" src="~/dist/settings-main.js" asp-append-version="true"></script>
}
